@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'apercu';
    src: url('../../public/Apercu\ Regular.otf');
}

@font-face {
    font-family: 'apercu-light';
    src: url('../../public/Apercu\ Light.otf');
}
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --grey: #a7a7a7;
    --grey-primary: #7a7a7a;
    --grey-secondary: #E9E9E9;
    --bg-color: #DCCEC2;
    --ch-bg: #DCCEC2;
    --ch-dark: #323232;
    --primary: #222222;
    --primary-light: #383838;
}

body {
    font-family: 'apercu', sans-serif;  
    font-weight: 400;
    background-color: var(--bg-color);
}

/*========================== BUTTON ============================*/

.btn {
    padding: 10px 18px;
    border-radius: 10px;
    border: 1px solid var(--primary);
    background-color: transparent;
    transition: all .3s ease;

    &:hover {
        background-color: var(--primary-light);
        border-color: var(--primary-light);
        color: white;
    }

    &--dark {
        background-color: var(--primary);
        color: white;
    }
}
