
/*========================== HEADER ============================*/

.search {
    position: relative;
    z-index: 10;
    filter: brightness(90%);
    border-radius: 10px;
    
    transition: all .3s ease;

    .ico-svg {
        fill: var(--grey);
    } 

    &.dark {
        background-color: var(--ch-dark) !important;
        color: white;
        filter: brightness(90%);


        .dropdown {
            &__arrow {
                fill: white;
            }
        }
    }

  

   input {
    color: inherit;
    background-color: transparent;
    outline: none;
    border: none;
        &::placeholder {
            color: var(--grey);
        }
    }

    .dropdown {
        position: absolute;
        right: 0px;
        width: 30%;
        z-index: 11;

        &__arrow {
            transition: all .3s ease;
        }

        & .active {
            background-color: var(--primary);
            color: white;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;

            .dropdown__arrow {
                fill: white;
                transform: rotate(180deg);
            }
        }

        & > p {
            font-family: 'apercu-light', sans-serif;
        }

        &__list {
            position: absolute;
            top: 34px;
            width: 50%;
            color: white;
            background-color: var(--primary);
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            display: none;

            &.active {
                display: block;
            }

            ul > li {
                cursor: pointer;
                transition: all .3s ease;
                &:hover {
                    opacity: .7;
                }
            }
            
        }
    }

    &__suggestions {
        position: absolute;
        width: 100%;
        height: max-content;
        padding-bottom: 50px;
        z-index: 5;
        top: 0px;
        left: 0px;
        background-color: var(--primary);
        border-radius: 10px;

        .featured {
            font-size: 10.6px;
            font-weight: 300;
            font-family: 'apercu-light';
            color: var(--grey-primary);

            &__list {
                p {
                    color: white;
                }
                img {
                    border-radius: 10px;
                }
            }

            &__tags {
                padding: 3px 12px;
                background-color: transparent;
                border: 1px solid white;
                border-radius: 16px;
                color: white;
                transition: all .3s ease;

                &:hover {
                    background-color: white;
                    color: var(--grey-primary);
                }

                &:not(:last-child) {
                    margin-right: 12px;
                }
            }

            &__slider {
                width: 350px;
                min-width: 350px;
                transition: all .3s ease;

                &:not(:last-child) {
                    margin-right: 12px;
                }
                p {
                    color: white;
                }
            }

            &__navigation {

                a, a:link, a:visited {
                    transform: all .3s ease;
                    &:hover {
                        svg {
                            fill: var(--grey-primary);
                        }
                    }
                }
                svg {
                    fill: white;
                }
            }
        }
    }


}
