.register {
    position: absolute;
    z-index: 12;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.7);


    &__container {
        width: 1142px;
        height: max-content;
        border-radius: 20px;
        overflow: hidden;
    }
    .link {
        position: relative;
        width: max-content;
        

        &:after {
            content: "";
            position: absolute;
            width: 100%;
            height: 2px;
            display: block;
            right: 0px;
            bottom: -5px;
            background-image: linear-gradient(to right, rgb(var(--color-underlined)) 45%, rgba(var(--color-underlined), 0.3) 55%);
            background-repeat: no-repeat;
            background-size: 220% 100%;
            background-position: 100% 50%;
            transition: all .3s ease-in;
           
        }

        &:hover::after {
            background-position: 0 50%;
        }
    }


    &__left {
        padding: 50px;
        background-color: var(--grey-secondary);

        .logo {
            height: 64px;
            width: auto;
            margin-right: 30px;
        }

        p {
            color: var(--primary);
        }
    }

    &__right {
        padding: 50px;  
        background-color: var(--grey-tertiary);

        label {
            color: #a7a7a7;
            margin-bottom: 8px;

        }

        input {
            background-color: white;
            padding: 16px;
            border-bottom: 1px solid var(--grey-secondary);
            transition: all .3s ease;

            &:focus, &:visited {
                outline: none;
                box-shadow: none;
                border-color: var(--grey) !important;
            }

            &::placeholder {
                color: #d3d3d3;
            }
        }

        .checkbox {
            margin-left: 5px;
            margin-top: 7px;
            color: #222;
        }

        button {
            background-color: var(--primary);
            padding: 16px;
            color: white;
            border-radius: 7px;
            transition: all .3s ease;

            &:hover {
                background-color: var(--primary-light);
            }
        }

        
        .socials {
            width: 100%;
            padding: 10px;
            border: 1px solid var(--grey-4);
            border-radius: 10px;

            &:not(:last-child) {
                margin-right: 10px;
            }
        }
    }

}